<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos os Pets</title>
</head>
<body>
  <article>
    <h1>Scooby</h1>
    <p>5 anos</p>
    <p>Macho</p>
  </article>

  <article>
    <h1>Scooby</h1>
    <p>5 anos</p>
    <p>Macho</p>
  </article>
  
  <article>
    <h1>Scooby</h1>
    <p>5 anos</p>
    <p>Macho</p>
  </article>
</body>
</html>